body {
    background-color: rgb(231, 235, 236);
    color: rgb(56, 46, 46);
}
.navbar, .list-group-item {
    background-color: rgb(255, 255, 255);
    color: rgb(56, 46, 46); 
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: grey;
}
.cross {
    display: inline-block;
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

.cross:after {
    content: '\2716'; /* Unicode für das Kreuz-Symbol */
}

.checkbox-custom {
    display: none;
}

.checkbox-custom + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-custom + label:before {
    content: '';
    position: absolute;
    left:0; top: 0;
    width: 20px; height: 20px;
    border: 1px solid #999;
    background-color: #fff;
}

.checkbox-custom:checked + label:before {
    content: '✔';
    background-color: #007bff;
    text-align: center;
    line-height: 20px;
    color: white;
}

.checkbox-custom.crossed + label:before {
    content: '✖';
    background-color: #dc3545;
    text-align: center;
    line-height: 20px;
    color: white;
}

.centered-title {
    text-align: center;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.push-right {
    margin-left: auto !important;
}
.right-align-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.centered-button:hover {
    background-color: #0056b3; /* Hintergrundfarbe des Buttons beim Hover */
  } 

  .input-width {
    width: 50px; /* Oder eine andere Breite, die für zwei Ziffern ausreichend ist */
}





#div1 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 22.67%;
	left: 27.96%;
	width: 44.58%;
	height: 52.49%;
	z-index: 9;
	color: rgb(255, 255, 255);
	overflow: hidden;
	background-color: rgb(72, 60, 233);
	border: solid rgb(254, 246, 246) 0px;
	border-radius: 34px;
	box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.64vw;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	user-select: none;
}

.no-list-style {
    list-style-type: none; /* Entfernt die Punkte vor den Listenelementen */
    padding-left: 0; /* Entfernt den linken Abstand, der normalerweise für Listenelemente vorhanden ist */
}

.no-list-style, .no-list-style ul {
    list-style-type: none !important; /* Entfernt die Punkte vor den Listenelementen */
    padding-left: 0 !important; /* Entfernt den linken Abstand, der normalerweise für Listenelemente vorhanden ist */
}

  